// button


.button-favs {
    color: black;
  }
  
.favs-overlay:hover {
    color: white;
  }

  .btn-remove-favs {
    margin: 0.8em 0 0;
    justify-self: center;
    text-align: center;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

